body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#Projects {
    hover {
        transform: scale(1.1);
    }

    margin-left: 75px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Projects:hover {
    transform: scale(1.1);
}

#About {
    margin-right: 20px;
    cursor: pointer;
    background-color: #aa0412;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#About:hover {
    transform: scale(1.1);
}

#Contact {
    margin-right: 20px;
    cursor: pointer;
    background-color: #aa6204;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Contact:hover {
    transform: scale(1.1);
}

#Skills {
    cursor: pointer;
    margin-right: 20px;
    background-color: #3004aa;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#Skills:hover {
    transform: scale(1.1);
}

h2 {
    margin: 75px;
    color: aliceblue;
    font-style: oblique;
}

button {
    hover {
        cursor: pointer;
    }
}