#main {
    margin-left: 75px;
    cursor: pointer;
    background-color: darkgreen;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#main:hover {
    transform: scale(1.1);
}

body {
    background-image: url('about.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}